.dblMainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(140deg, rgba(255, 255, 255, 0.95) 0%, rgba(195, 199, 220, 0.9) 100%);
}

.dblSidebarContainer {
    width: 300px;
    height: 100%;
    background: linear-gradient(140deg, rgba(62, 71, 163, 0.95) 0%, rgba(25, 34, 86, 0.9) 100%);
}

.dbContentContainer {
    flex: 1;
    padding: 1rem
}

.dblSidebarTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    border-radius: 8px;
    overflow: hidden;
    text-wrap: nowrap;
}

.dblSidebarTitleIcon {
    margin-right: 20px;
    transition: font-size 0.3s ease, opacity 0.3s ease !important;
}

.dblSidebarTitleText {
    font-weight: 700 !important;
    font-size: 1.25rem;
    letter-spacing: 1px;
}